html,
body {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

.map-canvas {
    position: absolute;
    top: 47px;
    overflow: hidden;
    width: 100%;
    height: 94%;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

body {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    color: #999;
}

p {
    font-weight: 400;
    line-height: 22px;
    color: #999;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'proxima-nova', sans-serif;
}

h3 {
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h5 {
    font-weight: 600;
    font-style: italic;
    text-transform: none;
}

.film-info-header {
    font-weight: 600;
}

.film-results-panel {
    position: absolute;
    z-index: 1;
    top: -22px;
    right: 0;
    height: 100vh;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.panel {
    margin-bottom: 0;
    margin-left: 0;
}

.panel-body {
    padding: 15px;
}

input {
    font-family: inherit;
}

.btn-group {
    padding-top: 10px;
}

.media-heading {
    line-height: 20px;
    display: inline-block;
    margin-top: 0;
    text-align: left;
    letter-spacing: 0;
    color: #666;
}

.glyphicon {
    font-size: 15px;
    margin: 5px;
    color: #f48c91;
}

.glyphicon-map-marker {
    font-size: 15px;
    margin: 5px;
    color: #999;
}

.glyphicon:hover,
.locationLink:hover {
    cursor: pointer;
    color: #ff5a5f;
}

.poster-preview:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), transparent 150px);
}

.content-left {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
}

.content-body {
    display: table-cell;
    vertical-align: middle;
}

.contentString {
    max-width: 21em;
}

.content-body p {
    line-height: 1.4;
    margin: 0 0 0;
}

.content-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    max-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #666;
}

.streetview-image {
    width: 70px;
    height: auto;
    border-radius: 100%;
    margin-top: 5px;
}

.overview {
    font-size: 16px;
    line-height: 1.7;
    margin-right: 10px;
}

.table {
    margin-bottom: 0;
}

.btn-default {
    width: 100%;
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}

.input-group-btn:last-child > .btn {
    margin-left: -6px;
}

.input-group-btn:last-child > .btn {
    margin-left: -2px;
}

.input-group-btn {
    min-width: 60px;
}

.input-group {
    padding: 15px;
}

.media-left {
    max-width: 50%;
}

.media-body {
    float: right;
    width: 50%;
    padding-top: 12px;
}

.media-body,
.media-left,
.media-right {
    display: inline-block;
    vertical-align: top;
}

.navbar {
    z-index: 5;
}

.navbar-toggle {
    z-index: 5;
}

.navbar-form {
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    padding: 0 15px;
    border: none;
}

.form-control {
    color: #999;
}

.navbar-brand {
    padding: 0;
}

.main-logo {
    margin-top: 5px;
}

.pickgradient {
    position: relative;
    display: inline-block;
}

.pickgradient:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: '';
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

img {
    display: block;
}

.overlay-font > h4 {
    font-size: 20px;
    font-weight: 900;
    line-height: 33px;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px #333;
}

.overlay-font {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.backdrop-block.backdrop-image-min-size a img {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.backdrop-block {
    position: relative;
    z-index: 2;
    overflow: hidden;
    max-height: 200px;
    border-radius: 6px;
}

.logo-font {
    font-family: 'bello-pro', sans-serif;
    font-size: 25px;
    position: relative;
    display: block;
    padding: 5px 70px 0 60px;
    color: #fff;
    text-shadow: 3px 3px 0 #f48c91, -1px -1px 0 #f48c91, 1px -1px 0 #f48c91, -1px 1px 0 #f48c91, 1px 1px 0 #f48c91;
}

.thumbnail {
    margin-bottom: 0;
}

.icon-text {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

a.icon-text {
    color: #f48c91;
}

a.btnIcon:hover,
a.btnIcon:active,
a.btnIcon:focus,
a.icon-text:hover,
a.icon-text:active,
a.icon-text:focus {
    color: #ff5a5f;
}

.modal-content {
    z-index: 6;
    width: 600px;
    width: 100%;
    margin-top: 100px;
}

.modal-backdrop {
    z-index: 0;
}

.autocomplete-suggestions {
    overflow: auto;
    cursor: default;
    border: 1px solid #999;
    background: #fff;
}

.autocomplete-suggestion,
.autocomplete-no-suggestion {
    font-size: 1em;
    overflow: hidden;
    padding: 10px 5px;
    white-space: nowrap;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #39f;
}

.poster-overview {
    width: 100%;
    height: auto;
}

.fancyTitle {
    font-family: 'bello-pro', sans-serif;
    font-size: 32px;
    color: #f48c91;
}

.badge {
    background-color: #f48c91;
}

.nav-pills a,
.nyt-link {
    color: #999;
}

.glyphicon-nyt {
    margin-right: 12px;
    margin-left: 20px;
}

blockquote {
    margin: 24px 48px;
}

.modal-header-trailer {
    border-bottom: none;
    background-color: #000;
}

.close {
    opacity: 1;
    color: #f48c91;
    text-shadow: none;
}

.close:focus,
.close:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    color: #ff5a5f;
}

.nav > li > a.favorites {
    padding: 12px;
}

.favorite-film-item {
    width: 7%;
}

.filter-btn {
    border-left: none;
    border-radius: 0;
}

.reset-btn {
    border-radius: 0 4px 4px 0;
}

.scroll-allow {
    overflow-y: scroll;
    height: 72vh;
    scroll-behavior: smooth;
}

.center-cropped {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
}

.overlay-font-poster > h4 {
    top: 30%;
}

.overlay-font-backdrop > h4 {
    top: 50%;
}

.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav > li {
    position: relative;
    display: inline-block;
}

.poster-left {
    float: left;
    width: 50%;
}

.overview-right {
    float: right;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.btn-group-justified .btn {
    padding: 0;
}


@media (max-width: 767px) {
    .visible-xs {
        display: inline-block!important;
    }
}


@media (min-width: 768px) {
    .scroll-allow {
        height: 94vh;
    }
    .navbar-form .film-autocomplete {
        width: 100%;
        min-width: 290px;
    }
    .center-cropped {
        width: 386px;
    }
    .map-canvas {
        top: 0;
        height: 100%;
    }
    .center-cropped img {
        position: absolute;
        top: 126%;
        left: 80%;
        -webkit-transform: translate(-80%, -80%);
        -moz-transform: translate(-80%, -80%);
        -ms-transform: translate(-80%, -80%);
        -o-transform: translate(-80%, -80%);
        transform: translate(-80%, -80%);
    }
    .poster {
        display: block;
        width: 100%;
    }
    .poster-overview {
        width: 100%;
    }
    .nav > li > a.favorites {
        padding: 15px;
    }
}